<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href=" ./signup.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="resp.css" />
  </head>
  <body id="body">
    {% load static %}
    <div class="header">
      <div class="logo">
        <img src="{% static 'KSPL Logo micro Trans.png' %} alt="" />
      </div>
      <div class="search-bar">
        <input type="search" id="search-box" value="" /> <i class="fa fa-search" aria-hidden="true" id="search-icon"></i>
      </div>
      <i class="fa fa-bars"></i>
      <div class="right-bar">
        <div class="icon">
          <!-- <i class="fa-solid fa-circle-half-stroke" id="icon"></i> -->
        </div>
        <div class="subscription"><a href="#" class="r">Subscription</a></div>
        <div class="about"><a href="#" class="r" id="about">About Us</a></div>
        <div class="contact"><a href="#" class="r">Contact Us</a></div>
      </div>
    </div>
    <div class="cont" id="container">
      <h3>Create Account</h3>
      <form id="details">
        {{msg}}
        {% csrf_token %}
       
        <input type="text" id="f-name"placeholder="Enter First Name" name="fname"/>
        <p id="f-name-validation" class="pass-checker"></p>
        <input type="text" id="l-name" placeholder="Enter Last Name"name="lname"/>
        <p id="l-name-validation" class="pass-checker"></p>
        <input type="date" id="dob" name="dob" />
        <select name="gender" id="select-gender" name="gender">
          <option value="">Gender</option>
          <option value="Male">Male</option>
          <option value="female">Female</option>
          <option value="Other">Other</option>
        </select>
        <input type="tel" id="phone" placeholder="Phone number" name="phone" />
        <input type="email" id="email" placeholder="Enter Email" name="email" />
        <p id="emailval" class="pass-checker"></p>
        <input type="password"id="password" placeholder="Enter Password" name="password"/>
        <ul id="ul"></ul>
        <input
          type="password" id="cpassword" placeholder="Confirm Password" name="cpassword" />
        <p id="same-pass" class="pass-checker"></p>
        <div class="captcha">
          {% comment %} <input type="text" id="output" disabled /><i
            class="fa-sharp fa-solid fa-arrows-rotate"
            id="ref"
          ></i> {% endcomment %}
          {% comment %} <input type="text" id="input" placeholder="Enter Your Captcha" /> {% endcomment %}
        </div>
        {% comment %} <button type="submit" id="sign-up" name="submit" value="submit" >Sign Up</button> {% endcomment %}
        <input type="submit" value="Sign up"/>
        <p id="signUp-btn">Already have an account? <a href="/login">Log In</a></p>
      </form>
    </div>
    <div class="footer">
      <div class="firstrow">
        <div class="enquiry">
          <h3>For any query</h3>
          <p>
            <i class="fa-solid fa-envelope"></i
            ><a
              href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJqbQHCzlqmkrZDDXDQPGlfbqFkHGhrxGNlgNzCcRsmgzNtGhmdkvrPqMjHkZzVTMXdzhGq"
              >For any query</a>
          </p>
          <p><i class="fa-brands fa-whatsapp"></i><a>Whatsapp</a></p>
          <p><i class="fa-solid fa-phone"></i><a>Phone</a></p>
        </div>
        <div class="services">
          <h3 id="demo">Services</h3>
          <ul>
            <li>Software Development</li>
            <li>Software Maintenance</li>
            <li>Software Modification</li>
          </ul>
        </div>
        <div class="terms-condition">
          <h3>Terms and Conditions</h3>
        </div>
        <div class="about">
          <h3>About Us</h3>
          <div class="adress">Suddhowala<br />Dehradun(UK)</div>
        </div>
        <div class="logo">
          <img src="{% static 'KSPL Logo micro Trans.png'%}" alt="" />
        </div>
      </div>
      <div class="secondrow">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>                  
        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
    <script src="email.js"></script>
  </body>
</html>